/*body*/
body{
  font-family: 'Roboto'; 
  width: 100%;
  padding: 0;
  margin: 0; 
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*wrapper*/
.wrapper{
    background-color: #1F2937;
}
/*logo*/
.logo a{
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
    text-decoration: none;
    padding: 1em;
}
/*navbar*/
.nav-container{
   display: flex;
   padding-left: 4rem;
   padding-right: 4rem;
}
.nav-items{
	margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex: 50%;
    

}

.nav-items a {
	padding: 1em;
	display: block;
    text-decoration: none;
    color: #E5E7EB;
	font-size: 18px;
}
/*hero-container*/
.hero-container{
    display: flex;
    justify-content: space-between;
    padding: 4rem;

}
.hero-message{
    flex: 50%;
}
/*main hero text*/
.maintext{
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}
/*hero subtext*/
.subtext{
    font-size: 18px;
    color: #E5E7EB;
}
/* hero button*/
.hero-button{
    background-color: #3882F6;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
/*hero image*/
.hero-image{
    flex: 50%;
    padding-left: 2rem;
    padding-top: 3rem;
}
.hero-img-text{
    color: #E5E7EB;
    text-align: center;
}
/*rectangle shape*/
.rectangle {
    height: 200px;
    width: 350px;
    background-color: #f7eeee41;
  }

/*columns*/
.column-info{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.column-info h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

}
.columns{
    display: flex;
    gap: 48px;
}
.column{
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    text-align: center;
}
.column .column-image{
    border: 3px solid #3882F6;
    border-radius: 12px;
    height: 125px;
    width: 125px;
    margin: 8px;  
}



